 
    body{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #ddd;}

 /* Header start */
         header{
              width: 100%;
              background-color: black;
              color: white;
             display: flex;}

    .logo{
             font-family: Arial, Helvetica, sans-serif;
             font-size: 10px;
             font-weight: bold;
             margin-left: 20px;
             padding: 20px;
             margin-top: 10px;
             opacity:1 ;
            
             color: aqua;
             cursor:grab;
             width: 20px;
           padding-right: 0px;
          
            
    }
   .navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin-right: 10px;
    width: 700px;
    }
    .navbar ul{
        list-style: none;
        
    }
    .navbar ul li{
        background-color: #262626;
        width: 20px;
        border: 1px solid #fff;
        height: 20px;
        text-align: right;
        float:left;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
        position: relative;
        viewport-fit: flex; 
        font-size: small;
        padding-left: 10px;
       padding-right: 60px;
       
       
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        position: relative;
       justify-content: left;
       font-size: small;
        font-style: italic;
        word-spacing: none;
        letter-spacing: 0px;
        margin-left: 0px;
    }
    .navbar ul li:hover{
        background-color: crimson;
        transition: all ease-in 1s;

    }
    .navbar ul ul{
        display:none;

    }
    .navbar ul li:hover>ul{
        display: block;

    }
    
    .serv {
        border-style: none;
       
        width: 109px;
       font-style: italic;
       height: 1000px;
       position: absolute;
       line-height: 40px;
       line-break: 30px;
       display: block;
      margin-left: -50px;
     
    }
    .serv li{
    width: 70px;
    height: 100px;
    padding-bottom: 25px;
    padding-right: 50px;
font-size: 5px;




    }
    .navbar .swd{
width: 60px;
padding-left: 0px;

}






                    
                   /* Header end */
                     /* Form start */
.form1{
    text-align:center;
    background-color: crimson;
    height: 100px;
    width: 140px;
    margin-right: 70px;
    margin-top: 15px;
    margin-bottom: -20px;
    padding: 40px 50px;
    border-radius: 5%;
   position:relative;
    
  
   
    }
/* .form1 input{
    border-radius: 50px;
  
    border-color: crimson;
 
 width: 100px;
  
} */
 #email {
  position: relative;
margin-left: 0px;
width: 100px;
}

#pass{
    width: 100px;
    position: relative;
    margin-left: 0px;

}
.manna{
    position: relative;
  background-color: rgb(163, 30, 30);
   width: 200px;
   margin-left: -25px;
}



.btn{
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
   position: relative;
   
  
   width: fit-content;
   height: 25px;
   align-items: center;
padding-right: 50px;
}

 .btn1{
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
   position: relative;
   align-items: center;
  margin-left: 0px;
   width: 2px;
   height: 25px;
  padding-left: 0px;
  text-align: center;
}
#insaallah{
   
  float: left;
  height: 50px;
  width: 200px;
  display: flex;
  margin-left: -25px;
   
}



.flag{
    height: 90px;
    width: 160px;
    background-color: green;
    position: absolute;
   margin-top: 40px;
    margin-left: 0px;
    

}
.sq{ height: 70px;
    width: 70px;
    background-color: wheat;
   
   position: relative;
   margin-top: 10px;
   margin-left: 40px;
   border-radius: 90px;
   background-color: red;
}
 .sqtext{
     font-size: x-large;
     position: absolute;
     text-align: center;
     justify-content: center;
     margin-top: 70px;
     margin-left: 10px;
     text-decoration: double;
    opacity: 0;
 
    } 
    .flag:hover{
        background-color:greenyellow;
       color: rgb(67, 49, 170);
    } 
    .flag:hover .sq{
        background-color:white;
        box-shadow: #b81818;
        border-color: #b81818;
        box-sizing: border-box;
        border-width: 5px;
        border-color: #b81818;
        border-style: solid;
    }
    .flag:hover .sqtext{
     opacity: 1;
    }
    


                       /* Form end */
                    /* Footer start */
      footer{
        bottom: 0px;
        position: absolute;
        width: 100%;
        background-color: #262626;
        color: #ddd;
        text-align: center;
        padding-top: -20px;}
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: bold;
    }                 
    p{
        text-align: center;
        margin: 0 auto;
        width: 600px;
        position: relative;
        margin-top: -30px;
    }
    .icon i{
        font-size: 30px;
        margin:20px 6px;
    }
    .copy{
        background-color: black;
        height: 30px;
        line-height: 50px;
        height: 50px;
        font-size: 20px; }
               /* Footer end */
   
